<html lang="ko">
<head>
    <title>PAC test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
</head>
<body>


<div class="wrap flex flex-col item-center sm:w-[42rem] mx-auto bg-white h-screen">

    <div class="pac-front box-border p-4 flex flex-col h-full">
        <h1 class="text-lg">테스트 프론트</h1>
        <hr />
        <h2 class="text-sm">바로가기</h2>
        <ul class="list-disc pl-6">
            <li><a href="/login">로그인 폼</a></li>
            <li><a href="/logout">로그아웃</a></li>
            <li><a href="/test/endpoint">인가 체크 페이지</a></li>
            <li><a href="/chat/room/random">채팅 테스트 페이지 - 비로그인용</a></li>
            <li><a href="/chat">채팅 테스트 페이지 - 로그인용</a></li>
        </ul>

    </div>

</div>

</body>
</html>