<!DOCTYPE html>
<html lang="ko"
      th:replace="~{layout/web/layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>PAC : 로비</title>
</head>
<body>
<section class="enter-room p-4 pt-6 flex flex-col item-center mx-auto">

    <!--    <div class="enter-room p-4 pt-6 flex flex-col item-center mx-auto">-->
    <!--        <div class="flex flex-wrap">-->
    <div class="member-information pb-10 hidden">
        <p><b>🕵️‍♀️ 회원 정보</b></p>
        <p><span th:text="${member}"></span></p>
    </div>
    <div class="ml-auto flex flex-wrap justify-center">
        <div class="server-status self-center">
            <p class="ok mr-5 hidden text-lime-500">서버 정상</p>
            <p class="error mr-5 hidden text-rose-400 underline decoration-rose-200"
               onclick="location.reload()">채팅 서버 접속 불가</p>
        </div>
<!--        <button type="button"-->
<!--                class="chat-input-room-button text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm  my-3 px-3 py-2 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"-->
<!--                onclick="sendSubscribe()">-->
<!--            입장-->
<!--            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">-->
<!--                <path d="M6 7H18V12C18 15.3137 15.3137 18 12 18V18C8.68629 18 6 15.3137 6 12V7Z"-->
<!--                      stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                <line x1="15" y1="2" x2="15" y2="7" stroke="#000000" stroke-width="2" stroke-linecap="round"-->
<!--                      stroke-linejoin="round"/>-->
<!--                <path d="M12 18V22" stroke="#000000" stroke-width="2" stroke-linecap="round"-->
<!--                      stroke-linejoin="round"/>-->
<!--                <line x1="9" y1="2" x2="9" y2="7" stroke="#000000" stroke-width="2" stroke-linecap="round"-->
<!--                      stroke-linejoin="round"/>-->
<!--            </svg>-->
<!--        </button>-->
    </div>
    <hr />

    <h1 class="w-full block">채팅방 목록</h1>

    <input type="hidden" id="pacSessionId" th:value="${pacsessionid}"/>
    <input type="hidden" id="pacUserId" th:value="${member.id}"/>
    <input type="hidden" id="pacNickname" th:value="${member.nickname}"/>
    <input type="hidden" id="messageServer" th:value="${messageServer}"/>
    <input type="hidden" id="isChatSessionValid" th:value="${isChatSessionValid}"/>
    <input type="hidden" id="sessionValidErrorMessage" th:value="${sessionValidErrorMessage}"/>
    <hr/>

    <label for="chat-nickname-init"
           class="text-sm font-medium leading-6 text-gray-900">
        채팅방에서 사용 할 닉네임
    </label>
    <input type="text"
           name="chat-nickname-init"
           id="chat-nickname-init"
           class="chat-input-nickname-init block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 sm:text-sm sm:leading-6"
           th:value="${member.nickname}"
           disabled/>

    <p class="text-sm font-medium mt-5 leading-6 text-gray-900">접근 가능한 채팅방 목록</p>

    <div class="room-list block w-full">
        <ul role="list" class="divide-y divide-gray-100">

        </ul>
    </div>


    <!--        </div>-->
    <!--    </div>-->


    <script>

        let socket = '';
        let socketOnErrorStatus = false;
        const nickname = document.getElementById('pacNickname').value;
        const pacSessionId = document.getElementById('pacSessionId').value;
        const pacUserId = document.getElementById('pacUserId').value;
        const messageServer = document.getElementById('messageServer').value;
        const isChatSessionValid = document.getElementById('isChatSessionValid').value;
        const sessionValidErrorMessage = document.getElementById('sessionValidErrorMessage').value;
        let chatRoomName = '';
        $(document).ready(function () {

            if (isChatSessionValid === 'false') {
                alert(sessionValidErrorMessage);
                location.href = '/chat/lobby';
            }


            socket = new WebSocket(messageServer + '/message');
            socket.onopen = function (event) {
                // 연결이 열리면 실행되는 코드
                console.log('WebSocket 연결이 열렸습니다.');
                $(".server-status .ok").removeClass("hidden");
            };

            socket.onerror = function (error) {
                console.error('WebSocket 연결 에러:', error);
                // 에러 처리 로직을 추가하세요
                socketOnErrorStatus = true;
                $(".server-status .error").removeClass("hidden");
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log('WebSocket 연결이 정상적으로 닫혔습니다.');
                    alert("서버와의 연결이 끊어졌습니다.");
                    location.reload();
                } else {
                    console.error('WebSocket 연결이 비정상적으로 닫혔습니다.');
                    if (socketOnErrorStatus === false) {
                        alert("서버와의 연결이 끊어졌습니다.");
                        location.reload();
                    }
                    $(".server-status .ok").addClass("hidden");
                    $(".server-status .error").removeClass("hidden");
                }
            };

            const roomList = getRoomList();

            // $(".chat-input-id").val(nickname);
            // document.querySelector(".chat-input-id").value = nickname;

        })

        /**
         * {
         *     "content": [
         *         {
         *             "roomId": "04949b5e-ef24-43cb-960e-0def123ca8a2",
         *             "name": "테스트방",
         *             "description": "테스트 채팅방",
         *             "imageUrl": "#",
         *             "capacity": 100,
         *             "roomMembersCount": 1,
         *             "roomStatus": "ALIVE",
         *             "roomPublic": "AVAILABLE",
         *             "participates": null,
         *             "owner": {
         *                 "id": "828f1a2f-8eda-4bbc-9e28-918ef98537cf",
         *                 "nickname": "테스트1",
         *                 "status": null,
         *                 "role": null,
         *                 "joinDateTime": null
         *             }
         *         },
         *         ......
         *     ],
         *     "pageable": {
         *         "sort": {
         *             "empty": true,
         *             "sorted": false,
         *             "unsorted": true
         *         },
         *         "offset": 0,
         *         "pageNumber": 0,
         *         "pageSize": 10,
         *         "paged": true,
         *         "unpaged": false
         *     },
         *     "last": false,
         *     "totalPages": 3,
         *     "totalElements": 21,
         *     "first": true,
         *     "number": 0,
         *     "sort": {
         *         "empty": true,
         *         "sorted": false,
         *         "unsorted": true
         *     },
         *     "size": 10,
         *     "numberOfElements": 10,
         *     "empty": false
         * }
         */
        function getRoomList() {
            $.ajax({
                url: '/api/v1/room/list',
                type: 'GET',
                data: {
                    page: 1
                }
            }).done(function (data) {
                // console.log(data);
                const roomListAsPage = data.content;
                // console.log(roomListAsPage);
                appendRoomList(roomListAsPage);
                let paging = {
                    "totalPages": data.totalPages,
                    "totalElements": data.totalElements,
                    "nowPage": data.number
                }
                console.log(paging);
            }).fail(function (error) {
                console.log(error);
                alert("채팅방 목록을 불러오는데 문제가 발생했습니다.");
            });
        }

        function appendRoomList(roomList) {
            for (const room of roomList) {
                const li = '<li class="' + room.roomId + ' border border-blue-300 shadow mb-2 rounded-md flex justify-between gap-x-6 p-3 hover:bg-slate-50 duration-100" onclick="getRoomInformation(\'' + room.roomId + '\')">\n' +
                    '    <div class="flex gap-x-4">\n' +
                    '        <img class="h-12 w-12 flex-none rounded-full bg-gray-50"\n' +
                    '             src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"\n' +
                    '             alt="">\n' +
                    '        <div class="min-w-0 flex-auto">\n' +
                    '            <p class="text-sm font-semibold leading-6 text-gray-900">' + room.name + '</p>\n' +
                    '            <p class="mt-1 truncate text-xs leading-5 text-gray-500">\n' +
                    '            ' + appendRoomStatus(room) + '\n</p>' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '    <div class="hidden sm:flex sm:flex-col sm:items-end">\n' +
                    // '        <p class="text-sm leading-6 text-gray-900">' + room.owner.nickname + '</p>\n' +
                    '        <p class="mt-1 text-xs leading-5 text-gray-500">방 생성 시간\n' +
                    '            <time datetime="2023-01-23T13:23Z">' + room.createdAt + '</time>\n' +
                    '        </p>\n' +
                    '    </div>\n' +
                    '<button type="button"\n' +
                    '                        class="chat-input-room-button text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm  my-3 px-3 py-2 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"\n' +
                    '                        onclick="entranceRoom(\'' + room.roomId + '\')">\n' +
                    '                    입장\n' +
                    '                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">\n' +
                    '                        <path d="M6 7H18V12C18 15.3137 15.3137 18 12 18V18C8.68629 18 6 15.3137 6 12V7Z"\n' +
                    '                              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\n' +
                    '                        <line x1="15" y1="2" x2="15" y2="7" stroke="#000000" stroke-width="2" stroke-linecap="round"\n' +
                    '                              stroke-linejoin="round"/>\n' +
                    '                        <path d="M12 18V22" stroke="#000000" stroke-width="2" stroke-linecap="round"\n' +
                    '                              stroke-linejoin="round"/>\n' +
                    '                        <line x1="9" y1="2" x2="9" y2="7" stroke="#000000" stroke-width="2" stroke-linecap="round"\n' +
                    '                              stroke-linejoin="round"/>\n' +
                    '                    </svg>\n' +
                    '                </button>' +
                    '</li>';
                $(".room-list ul").append(li);
            }

        }

        function appendRoomStatus(room) {
            if (room.roomPublic === 'AVAILABLE') {
                return '<span class="border-solid border-2 rounded-md text-slate-50 bg-lime-500 border-lime-600 px-3">채팅가능</span>';
            } else if (room.roomPublic === 'PRIVATE') {
                return '<span class="border-solid border-2 rounded-md text-slate-50 bg-neutral-500 border-neutral-600 px-3">비공개</span>';
            } else if (room.roomPublic === 'VOID') {
                return '<span class="border-solid border-2 rounded-md text-slate-50 bg-rose-500 border-rose-600 px-3">입장불가</span>';
            } else if (room.roomPublic === 'OBSERVER') {
                return '<span class="border-solid border-2 rounded-md text-slate-50 bg-amber-500 border-amber-600 px-3">관전가능</span>';
            }

        }

        /**
         * {
         *     "roomId": "20dde8f5-f490-4551-857b-347d9043c3c0",
         *     "name": "테스트방",
         *     "description": "테스트 채팅방",
         *     "imageUrl": "#",
         *     "capacity": 100,
         *     "roomMembersCount": 1,
         *     "roomStatus": "ALIVE",
         *     "roomPublic": "AVAILABLE",
         *     "participates": [
         *         {
         *             "id": "7df85bd4-71b9-47c8-8c00-cf18fec5d9a6",
         *             "nickname": "테스트1",
         *             "status": "ALIVE",
         *             "role": "SYSOP",
         *             "joinDateTime": null
         *         }
         *     ],
         *     "owner": {
         *         "id": "7df85bd4-71b9-47c8-8c00-cf18fec5d9a6",
         *         "nickname": "테스트1",
         *         "status": null,
         *         "role": null,
         *         "joinDateTime": null
         *     },
         *     "createdAt": "2023-05-31T22:35:12.538611"
         * }
         *
         */
        function getRoomInformation(roomId) {
            $.ajax({
                url: '/api/v1/room/' + roomId,
                type: 'GET'
            }).done(function (data) {
                console.log(data);
                // appendRoomInformation(data);
            }).fail(function (error) {
                console.log(error);
                alert("채팅방 정보를 불러오는데 문제가 발생했습니다.");
            });
            // 개별 채팅방 정보 오버레이
            $('.room-list ul li').removeClass('h-[30rem]', 1000, 'linear');
            $('.' + roomId).addClass('h-[30rem]', 1000, 'linear');
            // 입장 버튼 -> room으로 이동해서 바로 ws 연결
        }

        function getRoomPublic(roomPublic) {
            if (roomPublic === 'AVAILABLE') {
                return '채팅가능';
            } else if (roomPublic === 'PRIVATE') {
                return '비공개';
            } else if (roomPublic === 'VOID') {
                return '입장불가';
            } else if (roomPublic === 'OBSERVER') {
                return '관전가능';
            }
        }

        function entranceRoom(roomId) {
            // socket.close(); // 채팅방용 소켓은 별도 취급
            location.href = '/chat/room/' + roomId;
        }

        function sendSubscribe() {

            // $.ajax({
            //     url: '/chat/room/check',
            //     type: 'POST',
            //     data: {
            //         chatRoomName: document.querySelector(".chat-input-room").value
            //     },
            //     success: function (data) {
            //         if (data === 'true') {
            //             alert("이미 존재하는 채팅방 입니다.");
            //             return;
            //         }
            //         sendSubscribeWrap();
            //     },
            //     error: function (error) {
            //         console.log(error);
            //     }
            // });


            if (socketOnErrorStatus === true) {
                alert("서버에 접속 할 수 없습니다.");
                return;
            }

            chatRoomName = document.querySelector(".chat-input-room").value;
            if (chatRoomName.length < 1) {
                alert("채팅방 명을 입력해야 합니다");
                return;
            }

            console.log("입장");
            let identifier = {
                channel: chatRoomName,
                memberId: pacUserId,
                nickname: nickname,
                token: pacSessionId
            }
            let message = {
                command: "SUBSCRIBE",
                identifier: identifier
            }
            console.log(message);
            socket.send(JSON.stringify(message));
            document.querySelector(".enter-room").classList.add("hidden");
            document.querySelector(".chat-service").classList.remove("hidden");
        }


    </script>
</section>
</body>
</html>
